body { font-size: 11pt; }
div#haut, div#error, div#disclaimer, div#footer { font-size: 11pt; }
div#haut {
    padding: 0.9em 12.2em 1.0em 0.7em;
    display: block;
}

div#listetrains { display: table; width: 100%; }
div.train { display: table-row; width: 100%; }

div.group { display: table-cell; vertical-align: middle; }
div.group-left {
    width: 5em;
    text-align: center;
    word-wrap: pre;
}
div.group-left span { display: inline-block;  }
div.group-middle { width: 4.5em; text-align: center; }
span.mission-train { display: inline-block; }

div#listetrains.retard-flip div.group-left span.numero-train { display: none; }
div#listetrains.retard-flip div.group-left span.retard-train { display: inline-block; }
div#listetrains.retard-flip div.group-left span.retard-train.no-data { display: none; }
div#listetrains.no-retard-flip div.group-left span.numero-train { display: inline-block; }
div#listetrains.no-retard-flip div.group-left span.retard-train { display: none; }

div#listetrains.retard-flip div.group-left span.numero-train.no-flip { display: inline-block; }

div#listetrains div.group-left .mission-train img { margin-bottom: -4px; height: 1.1em; }

div.group div.destination-et-voie {
    display: flex;
    justify-content: space-between;
    height: 2.3em;
    align-items: center;
}
span.destination-train {
    flex: auto;
    display: inline-block;
    height: 1.3em;
    line-break: anywhere;
    overflow: hidden;
    font-size: 160%;
}
span.conteneur-voie { flex: none; margin-right: 0.2em; }


span.destination-train {}
div.force-height { min-height: 2.5em; }

@media screen and (min-width: 600px)  { body { font-size: 14pt; } }
@media screen and (min-width: 750px)  { body { font-size: 16pt; } }
@media screen and (min-width: 950px)  { body { font-size: 18pt; } }
@media screen and (min-width: 1050px) { body { font-size: 20pt; } }
@media screen and (min-width: 1200px) { body { font-size: 22pt; } }
@media screen and (min-width: 1370px) { body { font-size: 24pt; } }
@media screen and (min-width: 1420px) { body { font-size: 26pt; } }
@media screen and (min-width: 1570px) { body { font-size: 28pt; } }
@media screen and (min-width: 1750px) { body { font-size: 30pt; } }
@media screen and (min-width: 1880px) { body { font-size: 32pt; } }
