@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
         url(/fonts/MaterialIcons-Regular.woff) format('woff'),
         url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    vertical-align: middle;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Tauri';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Tauri-Regular.eot); /* IE compatibility */
    src: local('Tauri'),
         url(/fonts/Tauri-Regular.woff2) format('woff2'),
         url(/fonts/Tauri-Regular.woff) format('woff'),
         url(/fonts/Tauri-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Tauri', sans-serif;
    background: #181818;
    color: #eee;
}

p { margin: 0; padding: 0; }

a { color: #ccc; }

form label, form input { vertical-align: middle; }

div#heure {
    position: fixed;
    top: -40pt;
    right: 8pt;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 40pt;
    margin: 0;

    background-color: navy;
    border-radius: 0.56em;
    border: white 0.18em solid;
    font-size: 125%;

    z-index: 1;
    cursor: default;

    text-align: center;
}

div#heure span { display: inline-block; }
div#heure span#heure-minutes {
    width: 3.1em;
    text-align: center;
}
div#heure span#secondes {
    width: 1.4em;
    color: orange;
    font-size: 75%;
    text-align: left;
}

div#more_options { cursor: default; }


div.train {
    padding: 5pt;
    background-color: #0c5da5;
}

div.train:nth-child(2n) {
    background-color: #043a6b;
}

div.train:nth-child(2n+1) {
    background-color: #0c5da5;
}

div.group div.destination-et-voie { display: flex; justify-content: space-between; }
span.destination { flex: auto; }
span.conteneur-voie { flex: none; margin-right: 5px; }

span.voie {
    display: inline-block;
    text-align: center;

    min-width: 1.2em;
    border: 0.08em solid #ccc;
    border-radius: 3px;
    font-size: 155%;

    padding-right: 2px;

    letter-spacing: -2px;
}

div.train span.heure-train { font-size: 125%; color: #ff4; }
div.train.delayed span.heure-train { font-size: 100%; color: orange; }
div.train.canceled span.heure-train { font-size: 90%; color: orange; }
div.train span.heure-train.approche { text-decoration: blink; line-height: 0.9; }


span.destination-train img {
    position: relative;
    top: 0.1em;
    height: 1em;
}

div.train div.desserte-train {
    padding: 0;

    color: #86b3de;

    height: 1.3em;
    line-height: 1.5em;
    overflow: hidden;

    word-wrap: break-word;
}

div.train div.desserte-train p {
    position: relative;
    bottom: 0.1em;

    transition-property: bottom;
    transition-duration: 0.9s;
    transition-timing-function: linear;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-timing-function: linear;
}

span.numero-train { color: #86b3de; }


input#s2 {
    display: none;
    font-family: 'Tauri', sans-serif;
    font-size: 11pt;
    max-width: 22em;
    color: white;
    border: solid #777 1px;
    background-color: #333;
    padding: 0.3em 0.15em;
    margin-left: 0.2em;
}

::input-placeholder {
    font-style: italic;
    color: #666;
}

input:-moz-placeholder {
    font-style: italic;
    color: #666;
}

input::-moz-placeholder {
    font-style: italic;
    color: #666;
}

input:-ms-input-placeholder {
    font-style: italic;
    color: #666;
}

input::-webkit-input-placeholder {
    font-style: italic;
    color: #666;
}

div#autocomp {
    position: absolute;
    display: none;

    font-family: sans-serif;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0.2em;

    z-index: 2;
}
div#autocomp ul, div#line_filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
div#autocomp ul {
    display: table;
}
div#autocomp ul li {
    padding: 0;
    display: table-row;
}
div#autocomp ul li.autocompItemHilight {
    background-color: #ccc;
    min-width: 12em;
    cursor: pointer;
}
div#autocomp ul li span.name, div#autocomp ul li span.trig { display: table-cell; padding: 0.2em; height: 1.4em }
div#autocomp ul li span.trig { font-family: monospace; font-style: italic; color: #666; }
div#autocomp img, div#line_filter img { position: relative; top: 0.2em; padding-left: 0.2em; max-height: 1.4em; }

div#line_filter ul { margin-top: 0.3em; }
div#line_filter img { position: relative; left: -2px; top: 4px; }
div#line_filter li.selected { font-weight: bold; }
div#line_filter { display: inline-block; }
div#line_filter ul:before {
    content: 'Montrer lignes : ';
    position: relative;
    top: 4px;
}

div#error {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

div.error-overlay {
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

p#errormsg {
    display: block;
    padding: 0.4em;
    background-color: #b40404;
    text-align: center;
    color: white;
}

div#disclaimer {
    text-align: center;
}


div#heure, div#listetrains { cursor: default; }

div#listemessages { height: 6em; max-height: 6em; overflow: hidden; cursor: default; background: #222; }

div#conteneurmessages {
    position: relative;
    bottom: 0px;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

div#conteneurmessages div.item {
    height: 6em;
    max-height: 6em;
    overflow: hidden;
}

div#conteneurmessages div.item p {
    margin: 0.34em 0.5em 0.66em 2.75em;
}

div#conteneurmessages div.item.placeholder,
div#conteneurmessages div.item.message { background: #222; color: white; }
div#conteneurmessages div.item.message.medium { background: #483391; color: white; }
div#conteneurmessages div.item.message.high { background: #fdbf4d; color: #000040; }
div#conteneurmessages div.item div.blinking-dot {
    display: block;
    float: left;
    position: relative;
    left: 0.8em;
    top: 0.8em;
    background-color: white;
    width: 1.25em;
    height: 1.25em;
    content: '\00a0';
    border-radius: 0.625em;
    animation: 1s steps(2, jump-none) infinite alternate blinking_dot;
}
div#conteneurmessages div.item.message.urgent { background: #ff1f1f; color: white; }

@keyframes blinking_dot { from { background-color: white; } to { background-color: #e08d39; } }



div#footer {
    padding: 1em 0;

    width: 100%;
    z-index: 1;
    background-color: #181818;

    text-align: center;
}


.button { 
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    color: white; background: #555; padding: 4px;
    min-width: 2.5em; line-height: 2.2em;
    border-radius: 4px;
    box-shadow: 0 4px 0 0 #333;
    vertical-align: middle;
}

.button:hover { background: #666; cursor: pointer; }
.button.pressed:active, .button:active { top: 4px; box-shadow: 0 0; }
.button.pressed { top: 2px; box-shadow: 0 2px 0 0 #333; background: #567; }
.button.pressed:hover { background: #678; cursor: pointer; }

select {
    background-color: #444;
    border-color: #666;
    border-radius: 3px;
    color: white;
}

select option {
    background-color: #444;
    color: white;
}


